
/***Fonts***/
@font-face { src: url(fonts/Montserrat-Light.otf); font-family: montserrat-light; }
@font-face { src: url(fonts/Montserrat-Medium.otf); font-family: montserrat-medium; }
@font-face { src: url(fonts/Montserrat-Bold.otf); font-family: montserrat-bold; }

